#__nuxt,
#__layout {
  width: 100%;
  height: 100%;
}
body,
html {
  min-width: 1200px;
  font-size: 16px !important;
  background-color: #f6f7f8 !important;
}

.container {
  position: relative;
  min-width: 1200px;
  margin: 0 auto;
  width: 100%;
}
ul {
  list-style: none;
}
::-webkit-scrollbar {
  width: 5px; /* 纵向滚动条*/
  height: 5px; /* 横向滚动条 */
  /* background-color: #fff; */
}

/*定义滚动条轨道 内阴影*/
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  /* background-color: #fff; */
}

/*定义滑块 内阴影*/
::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  background-color: #888;
  border-radius: 5px;
}

* {
  font-family: "Tahoma";
  /* font-weight: bold; */
}
