#__nuxt,#__layout {
    width: 100%;
    height: 100%;
}
body, html {
  min-width: 1200px;
  font-size: 16px !important;
  background-color: #f6f7f8 !important;
}

@font-face {
  font-family: hotFont;
  src: url('../font/FZYHJW.woff');
}
span, p  {
  font-family: 'hotFont' !important;
}
.container {
  position: relative;
  min-width: 1200px;
  margin: 0 auto;
  width: 100%;
}
